html ,body{
    padding: 0;
    margin: 0;
}

.header{
    height: 600px;
    color: #fff;
    text-align: center;
    background-color: #1b6d85;
    /*background-position: center;*/
    /*background-image:url("../image/background.jpg");*/
}

.footer{
    height:80px;
    color:#fff;
    background-color: #1b6d85;
}

.articleContainer{
    width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
}

.articleInfo{
    height: 373px;
    width: 700px;
    margin: 50px auto 5px;
    background-color: #ffffff;
}

.articleTitle{
    margin-top: 15px;
    transition: color 0.2s;
    color: #000000;
    font-size: 32px;
    text-decoration-line: none;
}

.articleTitle:visited{
    margin-top: 15px;
    transition: color 0.2s;
    color: #000000;
    font-size: 32px;
    text-decoration-line: none;
}

.articleTitle:focus{
    margin-top: 15px;
    transition: color 0.2s;
    color: #000000;
    font-size: 32px;
    text-decoration-line: none;
}

.articleTitle:active{
    margin-top: 15px;
    transition: color 0.2s;
    color: #000000;
    font-size: 32px;
    text-decoration-line: none;
}

.articleTitle:hover{
    color: #2aabd2;
    text-decoration-line: none;
}

.articleDetail{
    font-size: 16px;
    color: #c5c5c5;
}

.articleSummary{
    font-size: 16px;
    color:#b3b3b3;
}

.spitLine{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 70px;
    background-color: #c7c7c7;
}
.articleContent{
    width: 800px;
    margin:25px auto 0px;
}