<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxblr.dao.ArticleDOMapper">
  <resultMap id="BaseResultMap" type="com.mxblr.data.dataObject.ArticleDO">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_month" jdbcType="TINYINT" property="createdMonth" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, title, image_id, summary, user_id, tag_id, created_time, created_month,
    modified_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mxblr.data.dataObject.ArticleDO">
    insert into article (article_id, title, image_id,
      summary, user_id, tag_id, 
      created_time, created_month, modified_time, 
      status)
    values (#{articleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imageId,jdbcType=INTEGER},
      #{summary,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdMonth,jdbcType=TINYINT}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mxblr.data.dataObject.ArticleDO">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdMonth != null">
        created_month,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdMonth != null">
        #{createdMonth,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mxblr.data.dataObject.ArticleDO">
    update article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdMonth != null">
        created_month = #{createdMonth,jdbcType=TINYINT},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mxblr.data.dataObject.ArticleDO">
    update article
    set title = #{title,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_month = #{createdMonth,jdbcType=TINYINT},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>