<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxblr.dao.ImageDOMapper">
  <resultMap id="BaseResultMap" type="com.mxblr.data.dataObject.ImageDO">
    <id column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mxblr.data.dataObject.ImageDO">
    <result column="image" jdbcType="LONGVARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    image_id, name
  </sql>
  <sql id="Blob_Column_List">
    image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from image
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from image
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mxblr.data.dataObject.ImageDO">
    insert into image (image_id, name, image
      )
    values (#{imageId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mxblr.data.dataObject.ImageDO">
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        image_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mxblr.data.dataObject.ImageDO">
    update image
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mxblr.data.dataObject.ImageDO">
    update image
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=LONGVARCHAR}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mxblr.data.dataObject.ImageDO">
    update image
    set name = #{name,jdbcType=VARCHAR}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <!--批量删除分类标签-->
  <delete id="batchDeleteImage" parameterType="java.util.List">
    delete from image
    where image_id in
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>
</mapper>