<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxblr.dao.NoticeEmailDOMapper">
  <resultMap id="BaseResultMap" type="com.mxblr.data.dataObject.NoticeEmailDO">
    <id column="email_id" jdbcType="INTEGER" property="emailId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    email_id, email, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice_email
    where email_id = #{emailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice_email
    where email_id = #{emailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mxblr.data.dataObject.NoticeEmailDO">
    insert into notice_email (email_id, email, status
      )
    values (#{emailId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mxblr.data.dataObject.NoticeEmailDO">
    insert into notice_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emailId != null">
        email_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emailId != null">
        #{emailId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mxblr.data.dataObject.NoticeEmailDO">
    update notice_email
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where email_id = #{emailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mxblr.data.dataObject.NoticeEmailDO">
    update notice_email
    set email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT}
    where email_id = #{emailId,jdbcType=INTEGER}
  </update>
</mapper>